<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {%- if site.title-img -%}
        <a class="navbar-brand navbar-brand-logo" href="{{ site.index[page.lang] | relative_url }}"><img src="{{ site.title-img }}"/></a>
      {%- else -%}
        <a class="navbar-brand" href="{{ site.index[page.lang] | relative_url }}">{{ site.title[page.lang] }}</a>
      {%- endif -%}
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {%- for link in site.navbar-links[page.lang] -%}
        {%- if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {%- for childlink in link[1] -%}
              {%- for linkparts in childlink %}
              <a href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
              {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          <li><a href="{{ link[1] | relative_url }}">{{ link[0] }}</a></li>
        {%- endif -%}
      {%- endfor -%}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)"><div class="fa fa-language" aria-hidden="true" style="font-size:150%;"></div></a>
            <div class="navlinks-children">
		{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
		{% for post in posts %}
    			<a href="{{ post.url | relative_url }}" class="{{ post.lang }}">{{ post.lang }}</a>
		{% endfor %}
		{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
		{% for page in pages %}
    			<a href="{{ page.url | relative_url }}" class="{{ page.lang }}">{{ page.lang }}</a>
		{% endfor %}
            </div>
          </li>
      </ul>
    </div>
	{% if page.image and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.index[page.lang] | relative_url }}">
	      <img class="avatar-img" src="{{ page.image | relative_url }}" />
		</a>
	  </div>
	</div>
	{% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.index[page.lang] | relative_url }}">
	      <img class="avatar-img" src="{{ site.avatar | relative_url }}" />
		</a>
	  </div>
	</div>
	{% endif %}
  </div>
</nav>
